    :root {
        --main-color: #10cab7;
        --secondary-color: #2c4755;
        --section-padding: 60px;
        --section-background: #f6f6f6;
        --main-duration: 0.5s;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
        font-family: "Work Sans", sans-serif;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Small */
    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }

    /* Medium */
    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }

    /* Large */
    @media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }

    /* start compontents */
    .special-heading {
        font-size: 100px;
        text-align: center;
        font-weight: 800;
        letter-spacing: -3px;
        color: #ebeced;
        margin: 0;
    }

    .special-heading+p {
        margin: -30px 0 0;
        text-align: center;
        color: #797979;
        font-size: 20px;
    }

    @media (max-width: 767px) {
        .special-heading {
            font-size: 60px;
        }

        .special-heading+p {
            margin-top: -20px;
        }
    }

    /* end compontents */

    .header {
        padding: 20px;
        background-color: #090b18;
    }

    .header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .logo {
        filter: hue-rotate(75deg);
        width: 60px;
    }

    .header .links {
        position: relative;

    }

    .header .links .icon {
        cursor: pointer;
        width: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .header .links .icon span {
        background-color: #9a9a9b;
        margin-bottom: 5px;
        height: 2px;

    }

    .header .links .icon span:first-child {
        width: 100%;
    }

    .header .links .icon span:nth-child(2) {
        width: 60%;
        transition: 0.3s;
    }

    .header .links .icon span:last-child {
        width: 100%;
    }

    .header .links:hover .icon span:nth-child(2) {
        width: 100%;
    }

    .header .links ul {
        background-color: #f6f6f6;
        list-style: none;
        position: absolute;
        padding: 0;
        margin: 0;
        right: 0;
        min-width: 200px;
        top: calc(100% + 15px);
        display: none;
        transition: .3s ease-in-out;
        z-index: 1;
    }

    .header .links ul::before {
        content: "";
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #f6f6f6 transparent;
        right: 5px;
        position: absolute;
        top: -20px;

    }

    .header .links ul li a {
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        padding: 15px;
        transition: 0.3s ease-in-out;
    }

    .header .links ul li a:hover {
        padding-left: 25px;
    }

    .header .links ul li:not(:last-child) a {
        border-bottom: 1px solid #ddd;
    }


    .landing {
        background-image: url(https://blot20.github.io/blot20offical.github.io/Leon//images/pexels-pixabay-206359.jpg);
        background-size: cover;
        height: calc(100vh - 64px);
        position: relative;
    }

    .landing .intro-text {
        width: 320px;
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .landing .intro-text h1 {
        color: white;
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 15px;

    }

    .landing .intro-text p {
        color: #cbcedf;
        font-size: 15px;
        font-weight: bold;

    }

    /* start features */
    .features {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #f6f6f6;
    }

    .features .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;
    }

    .features .feat {
        padding: 20px;
        text-align: center;
    }

    .features .feat i {

        color: #01094a;
    }

    .feature .feat h3 {

        font-weight: 800px;
        margin: 30px 0;
    }

    .feature .feat p {

        color: #777;
        font-size: 17px;
    }

    /* end features */
    .services {

        padding-top: 60px;
        padding-bottom: 60px;
    }

    .services .services-content {
        padding-top: 60px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 30px;
    }

    .services .services-content .srv {
        display: flex;
        margin-bottom: 40px;
    }

    @media (max-width: 767px) {
        .services .services-content .srv {
            flex-direction: column;
            text-align: center;
        }
    }

    .services .services-content .srv i {
        color: #01094a;
        flex-basis: 60px;
    }

    .services .services-content .srv .text {
        flex: 1;
    }

    .services .services-content .srv .text h3 {
        margin: 0 0 20px;
    }

    .services .services-content .srv .text p {
        color: #444;
        font-weight: 300;
        line-height: 1.6;
    }

    .services .services-content .image {
        text-align: center;
        position: relative;
    }

    .services .services-content .image::before {
        content: "";
        background-color: #53566d;
        width: 100px;
        height: calc(100% + 100px);
        top: -50px;
        position: absolute;
        right: 0;
        z-index: -1;
    }

    .services .services-content .image img {
        width: 290px;
        height: 370px;
    }

    @media (max-width: 1199px) {
        .image-column {
            display: none;
        }
    }

    /* Start Portfolio */
    .portfolio {
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
        background-color: var(--section-background);
    }

    .portfolio .portfolio-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 30px;
        margin-top: 80px;
    }
    .portfolio .portfolio-content .card{
        background-color: white;
        transition: .5s ease-in-out;
        border-radius: 50px;
        position: relative;
        
    }
    .portfolio .portfolio-content .card img{
        max-width: 100%;
        
        border-radius: 50px 50px 0 0;
    }
    .portfolio .portfolio-content .card .info{
        padding:20px;
    }
    .portfolio .portfolio-content .card h3{
        margin: 0;
    }
    .portfolio .portfolio-content .card p{
        color: #777;
        line-height: 1.6;
        margin-bottom: 0;
    }
    .portfolio .portfolio-content .card:hover{
        transform: scale(1.1);
    }
    .portfolio .portfolio-content .card::after {
        content: "";
        background-color: #53566d;
        opacity: 0.3;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 50px;
        top: -1px;
        transition: .7s ease-in-out;
        display: none;
    }
    
    .portfolio .portfolio-content .card::before {
        content: "Click Here";
        color: #53566d;
        background-color: #53566d;
        width: 80px;
        padding: 20px;
        cursor: pointer;
        line-height: 1.1;
        letter-spacing: 1.1;
        position: absolute;               /* 2 */
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        border-radius: 50px;
        display: flex;
        text-align: center;
        z-index: 1;
        transition: .7s ease-in-out;
        font-size: 15px;
        display: none;
        
    }
    .portfolio .portfolio-content .card:hover::before , .portfolio .portfolio-content .card:hover::after{display: block; transition: 10s;}
    .portfolio .portfolio-content .card:hover::before{
        background-color: white;
    }
    /* End Portfolio */
    /* Start About */
    .about {
        padding-top: var(--section-padding);
        padding-bottom: calc(var(--section-padding) + 90px);
    }
    .about-content {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    @media (max-width: 991px) {
        .about .about-content {
        flex-direction: column;
        text-align: center;
        }
    }
    .about .about-content .image{
        position: relative;max-width: 100%;
    }
    .about .about-content .imggg {
        padding-bottom: 20px;
        width: 250px;
        height: 375px;
        
        
    }
    @media (max-width: 991px) {
        .about .about-content .imgg {
        margin: 0 auto 60px;
        }
    }
    .about .about-content .image::before {
        content: "";
        position: absolute;
        background-color: #ebeced;
        width: 100px;
        height: calc(100% + 53px);
        top: -40px;
        left: -20px;
        z-index: -1;
    }
    .about .about-content .image::after {
        top: -40px;
        content: "";
        position: absolute;
        width: 120px;
        height: 284px;
        border-left: 80px solid #53566d;
        border-bottom: 80px solid #53566d;
        z-index: -1;
        right: -150px;
    }
    @media (max-width: 991px) {
        .about .about-content .image::before,
        .about .about-content .image::after {
        display: none;
        }
    }
    .about .about-content .image img {
        max-width: 100%;
    }
    .about .about-content .text {
        flex-basis: calc(100% - 500px);
    }
    .about .about-content .text p:first-of-type {
        font-weight: 500;
        line-height: 2;
        margin-bottom: 50px;
    }
    .about .about-content .text hr {
        width: 50%;
        display: inline-block;
        border-color: #53566d;
    }
    .about .about-content .text p:last-of-type {
        line-height: 2;
        color: #777;
    }
    /* End About */
    /* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: #53566d;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: #01094a;
    text-decoration: none;
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i {
    margin-left: 10px;
    color: #53566d;
    transition: .3s;
}
.contact .info .social i:hover {
    margin-left: 10px;
    color: #01094a;
}
@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
    font-size: 25px;
    }
}
  /* End Contact */
  /* Start Footer */
.footer {
    background-color: #53566d;
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span {
    font-weight: bold;
    color: #01094a;
}
  /* End Footer */
